@import "./variables";

.info-snackbar {
    color: white;
    --mdc-snackbar-container-color: var(--app-info-color); 
    .mat-simple-snackbar-action {
      color: white;
    }
}
.success-snackbar {
    color: white;
    --mdc-snackbar-container-color: var(--app-success-color); 
    .mat-simple-snackbar-action {
      color: white;
    }
}

.error-snackbar {
    color: white;
    --mdc-snackbar-container-color: var(--app-error-color); 
    .mat-simple-snackbar-action {
      color: white;
    }
}