<div class="container-fluid">
        <mat-card class="shadow">
            <mat-card-content>
                <div class="row mb-2">
                    <div mat-card-subtitle>Id: {{id}}</div>
                </div>
                <div class="row md-2">
                      <nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" [tabPanel]="tabPanel">
                        <a mat-tab-link 
                           [routerLink]="'/clients/' + id + '/client-settings'" 
                           #rlaClientSettings="routerLinkActive"
                           [active]="rlaClientSettings.isActive" 
                           routerLinkActive>Client Settings</a>
                        <a mat-tab-link 
                           [routerLink]="'/clients/' + id + '/token-settings'" 
                           #rlaTokenSettings="routerLinkActive"
                           [active]="rlaTokenSettings.isActive" 
                           routerLinkActive>Token Settings</a>
                        <a mat-tab-link 
                           [routerLink]="'/clients/' + id + '/scopes'" 
                           #rlaScopes="routerLinkActive"
                           [active]="rlaScopes.isActive" 
                           routerLinkActive>Scopes</a>
                      </nav> 
                      <mat-tab-nav-panel #tabPanel>
                        <router-outlet></router-outlet>	
                      </mat-tab-nav-panel>
                </div>
            </mat-card-content>
        </mat-card>
</div>
