<div class="container-fluid">
    <mat-card class="shadow">
        <mat-card-content>
            <div class="row mb-2">
                <div mat-card-subtitle>Id: {{id}}</div>
            </div>
            <div class="row md-2">
                  <nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" [tabPanel]="tabPanel">
                    <a mat-tab-link 
                       [routerLink]="'/scopes/' + id + '/scope-settings'" 
                       #rlaClientSettings="routerLinkActive"
                       [active]="rlaClientSettings.isActive" 
                       routerLinkActive>Scope Settings</a>
                    <a mat-tab-link 
                       [routerLink]="'/scopes/' + id + '/clients'" 
                       #rlaTokenSettings="routerLinkActive"
                       [active]="rlaTokenSettings.isActive" 
                       routerLinkActive>Used by clients</a>
                  </nav> 
                  <mat-tab-nav-panel #tabPanel>
                    <router-outlet></router-outlet>	
                  </mat-tab-nav-panel>
            </div>
        </mat-card-content>
    </mat-card>
</div>
