<div class="mt-3">
    <div class="row" *ngIf="(isLoading$ | async) === true">
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    </div>
    <div *ngIf="(isLoadSuccess$ | async)">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-3">
                </div>  
                <div class="col-md-6">
                    <div class="row mb-3">
                        <mat-form-field class="w-100 mt-1" appearance="outline" color="accent">
                            <mat-label>Given name</mat-label>
                            <input matInput formControlName="givenName">
                        </mat-form-field>
                    </div>
                    <div class="row mb-3">
                        <mat-form-field class="w-100 mt-1" appearance="outline" color="accent">
                            <mat-label>Family name</mat-label>
                            <input matInput formControlName="familyName">
                        </mat-form-field>
                    </div>
                    <div class="row mb-3">
                        <mat-form-field class="w-100 mt-1" appearance="outline" color="accent">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="row mb-3">
                        <mat-checkbox formControlName="emailConfirmed">Email confirmed</mat-checkbox>
                    </div>
                    <div class="row mb-3">
                        <div>
                            <button class="float-end" mat-raised-button color="primary" [disabled]="formValidation != 'VALID'" (click)="update()">Update</button>
                        </div>                        
                    </div>
                </div>
                <div class="col-md-3">
                </div>  
            </div>
        </form>
    </div>
</div>  
