<mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="col-5">
        <a mat-button *ngIf="(isAuthenticated$ | async)" routerLinkActive="list-item-active" (click)="sidenavToggle.toggle()"><mat-icon>menu</mat-icon></a>
        <a mat-button routerLink="home" *ngIf="(isAuthenticated$ | async)">Home</a>
      </div>  
      <div class="col-2 h-100">
        <a routerLink="welcome">
          <div class="h-100 pt-2 pb-2 d-flex justify-content-center align-items-center">
            <img class="h-100" src="assets/imgs/logo.svg" >
          </div>
        </a>
      </div>
      <div class="col-5 d-flex justify-content-end">
        <a mat-button routerLink="faq">FAQ</a>
        <a mat-button  *ngIf="(isAuthenticated$ | async) === false" (click)="connect()">Connect</a>
        <button mat-button [matMenuTriggerFor]="menu" *ngIf="(isAuthenticated$ | async)">User <mat-icon>keyboard_arrow_down</mat-icon></button>
        <mat-menu #menu="matMenu" xPosition="before" style="min-width: 200px;" [class.custom-width]="true">
          <div class="me-4 ms-4">
            <div class="row text-center md-2">
                <div mat-card-title>USER<mat-icon>supervised_user_circle</mat-icon>ID</div>
            </div>
            <div class="row text-center">
              <div mat-card-title>{{userInfo['nickname']}}</div>
            </div>
            <div class="row text-center mb-3">
              <div mat-card-subtitle>{{userInfo['name']}}</div>
            </div>
            <div class="row text-center mb-1">
              <button mat-menu-item >Account Settings</button>
            </div>
            <div class="row text-center mb-1">
              <button mat-menu-item (click)="disconnect()">Disconnect</button>
            </div>  
          </div>    
        </mat-menu>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

