@use "@angular/material" as mat;
@import "./assets/scss/variables";
@import "./assets/scss/bs5.scss";
@import "./assets/scss/theme.scss";
@include mat.core();

$app-theme-primary: mat.define-palette($app-theme-primary-palet);
$app-theme-accent: mat.define-palette($app-theme-accent-palet);
$app-theme-warn: mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-theme-primary,
      accent: $app-theme-accent,
      warn: $app-theme-warn,
    ),
  )
);

@include mat.all-component-themes($app-theme);

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--app-background-color);
}

.authenticating-loader{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}