<div>
    <div mat-dialog-title>Register client</div>
    <mat-dialog-content>
        <form [formGroup]="form">
            <mat-stepper [linear]="true" #stepper>
                <mat-step>
                    <ng-template matStepLabel>Name</ng-template>
                    <div class="row mb-2 mt-3">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Client Id</mat-label>
                            <input matInput cdkFocusInitial formControlName="clientId" placeholder="angular-web-security-ui">
                        </mat-form-field>
                    </div>
                    <div class="row mb-2">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" placeholder="angular-web-security-ui">
                        </mat-form-field>
                    </div>
                    <div class="row mb-3">
                        <mat-form-field appearance="outline" color="primary" subscriptSizing="dynamic">
                            <mat-label>Description</mat-label>
                            <textarea matInput formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button mat-button [mat-dialog-close]="null" class="w-100">Cancel</button>
                        </div>
                        <div class="col-4">
                         
                        </div>
                        <div class="col-4">
                            <button mat-raised-button matStepperNext class="w-100" color="primary">Next</button>
                        </div>                     
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Authentication method and Grant Types</ng-template>
                    <div class="row mb-2 mt-3">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Authentication Method</mat-label>
                            <mat-select formControlName="authenticationMethods">
                                <mat-option *ngFor="let method of authMethodEnum" [value]="method">
                                    {{method}}
                                </mat-option>
                                </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row mb-2" *ngIf="isSecretRequared">
                        <mat-form-field appearance="outline" color="primary">
                            <mat-label>Secret</mat-label>
                            <input matInput cdkFocusInitial formControlName="secret">
                        </mat-form-field>
                    </div>
                    <div class="row mb-2 justify-content-center">
                        <div formArrayName="authorizationGrantTypes" *ngFor="let grantType of grantTypes.controls; let i = index;">
                            <mat-form-field class="w-100 mb-2" appearance="outline" color="primary" [formGroupName]="i" subscriptSizing="dynamic">
                                <mat-label>Grant Type</mat-label>
                                <mat-select formControlName="type">
                                    <mat-option *ngFor="let typeEnum of authGrantTypeEnum" [value]="typeEnum">
                                        {{typeEnum}}
                                    </mat-option>
                                    </mat-select>
                                    <button mat-icon-button matSuffix *ngIf="authGrantTypeSlots < 3" (click)="removeGrantType(i)">
                                    <mat-icon>{{'delete'}}</mat-icon>
                                    </button>
                            </mat-form-field>
                        </div>
                        <button mat-icon-button class="mb-3" *ngIf="authGrantTypeSlots > 0" (click)="addGrantType()">
                            <mat-icon class="add-course-btn">add</mat-icon>
                        </button>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <button mat-button [mat-dialog-close]="null" class="w-100">Cancel</button>
                        </div>
                        <div class="col-4">
                            <button mat-button matStepperPrevious class="w-100">Back</button>
                        </div>
                        <div class="col-4">
                            <button mat-raised-button matStepperNext class="w-100" color="primary">Next</button>
                        </div>     
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>URLs</ng-template>
                    <div class="row mb-2 mt-3">
                        <mat-form-field appearance="outline" color="accent">
                            <mat-label>Origin</mat-label>
                            <input matInput formControlName="origin" placeholder="http://hostname:portname">
                        </mat-form-field>
                    </div>
                    <div class="row mb-2 justify-content-center">
                        <div formArrayName="redirectUris" *ngFor="let redirectUri of redirectUris.controls; let i = index;">
                            <mat-form-field class="w-100 mb-2" appearance="outline" color="accent" [formGroupName]="i" subscriptSizing="dynamic">
                                <mat-label>Redirect URI</mat-label>
                                <input matInput type="url" formControlName="uri" placeholder="http://hostname:portname/authorized.html">
                                <button mat-icon-button matSuffix *ngIf="redirectUrisSlots >= 2" (click)="removeRedirectUri(i)">
                                    <mat-icon>{{'delete'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <button mat-icon-button class="mb-1" *ngIf="redirectUrisSlots > 0" (click)="addRedirectUri()">
                            <mat-icon class="add-course-btn">add</mat-icon>
                        </button>
                    </div>
                    <div class="row mb-2">
                        <div class="col-4">
                            <button mat-button [mat-dialog-close]="null" class="w-100">Cancel</button>
                        </div>
                        <div class="col-4">
                            <button mat-button matStepperPrevious class="w-100">Back</button>
                        </div>
                        <div class="col-4">
                            <button mat-raised-button class="w-100" color="accent"
                                [disabled]="formValidation != 'VALID'"
                                (click)="submit()">Confirm</button>
                        </div>     
                    </div>
                    </mat-step>
            </mat-stepper>
        </form>
    </mat-dialog-content>
</div>



